
*.bak
backup/dupefinder.lpr
backup/duplicatefinderthread.pas
backup/duplicateform.pas
backup/examineform.pas
dupefinder.dbg
lib/i386-win32/aboutdialog.lfm
lib/i386-win32/aboutdialog.o
lib/i386-win32/aboutdialog.ppu
lib/i386-win32/combodialog.lfm
lib/i386-win32/combodialog.o
lib/i386-win32/combodialog.ppu
lib/i386-win32/commondialogs.o
lib/i386-win32/commondialogs.ppu
lib/i386-win32/dupefinder.compiled
lib/i386-win32/dupefinder.o
lib/i386-win32/dupefinder.or
lib/i386-win32/dupefinder.res
lib/i386-win32/duplicatefinderthread.o
lib/i386-win32/duplicatefinderthread.ppu
lib/i386-win32/duplicateform.lfm
lib/i386-win32/duplicateform.o
lib/i386-win32/duplicateform.ppu
lib/i386-win32/examineform.lfm
lib/i386-win32/examineform.o
lib/i386-win32/examineform.ppu
lib/x86_64-win64/aboutdialog.lfm
lib/x86_64-win64/aboutdialog.o
lib/x86_64-win64/aboutdialog.ppu
lib/x86_64-win64/combodialog.lfm
lib/x86_64-win64/combodialog.o
lib/x86_64-win64/combodialog.ppu
lib/x86_64-win64/commondialogs.o
lib/x86_64-win64/commondialogs.ppu
lib/x86_64-win64/dupefinder.compiled
lib/x86_64-win64/dupefinder.o
lib/x86_64-win64/dupefinder.obj
lib/x86_64-win64/dupefinder.res
lib/x86_64-win64/duplicatefinderthread.o
lib/x86_64-win64/duplicatefinderthread.ppu
lib/x86_64-win64/duplicateform.lfm
lib/x86_64-win64/duplicateform.o
lib/x86_64-win64/duplicateform.ppu
lib/x86_64-win64/examineform.lfm
lib/x86_64-win64/examineform.o
lib/x86_64-win64/examineform.ppu
